.red-ring-color {
  color: #f87272;
}

.red-ring-background {
  border: #f87272;
  background: #f87272;
}

.red-ring-background:after {
  color: #f87272;
}

.stopped-timer-text-color {
  color: rgb(71, 0, 0);
}
